<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

  </head>
  <body>

    <style media="screen">
      .zui-table {
          border: solid 1px #DDEEEE;
          border-collapse: collapse;
          border-spacing: 0;
          font: normal 13px Arial, sans-serif;
      }

      .topnav {
        overflow: hidden;
      {% if mode == 1 %}
        background-color: #580A10;
      {% elif mode == 2 %}
        background-color: #0B5409;
      {% elif mode == 3 %}
        background-color: #ff1a8c;
      {% endif %}
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .zui-table thead th {
          background-color: #DDEFEF;
          border: solid 1px #DDEEEE;
          color: #336B6B;
          padding: 10px;
          text-align: left;
          text-shadow: 1px 1px 1px #fff;
      }
      .zui-table tbody td {
          border: solid 1px #DDEEEE;
          color: #333;
          padding: 10px;
          text-shadow: 1px 1px 1px #fff;
      }
      .zui-table-rounded {
          border: none;
      }
      .zui-table-rounded thead th {
          background-color: #CFAD70;
          border: none;
          text-shadow: 1px 1px 1px #ccc;
          color: #333;
      }
      .zui-table-rounded thead th:first-child {
          border-radius: 10px 0 0 0;
      }
      .zui-table-rounded thead th:last-child {
          border-radius: 0 10px 0 0;
      }
      .zui-table-rounded tbody td {
          border: none;
          border-top: solid 1px #957030;
          background-color: #EED592;
      }
      .zui-table-rounded tbody tr:last-child td:first-child {
          border-radius: 0 0 0 10px;
      }
      .zui-table-rounded tbody tr:last-child td:last-child {
          border-radius: 0 0 10px 0;
      }
    </style>
    <div class="topnav">
      <a> {{ status }}
    </div>
    &nbsp
      <table class="zui-table zui-table-rounded" style="position:relative; left: 25%; right: 20% ">
        {% block content %}

        {% endblock %}
      </table>
      &nbsp
      <hr>
         <h4>Server Management Service</h4>
      <p style="font-style: oblique; font-size:12px;">Click <a href = "https://ncinfra.cav-test.com/ProductUI">here</a> for more information. </p>
  </body>
</html>
