CONTROLLER=$ND_IP
CAV_MON_AGENT_OPTS="-F 0"
CMON_OPTS="-Xms512m -Xmx512m -Dcom.sun.management.jmxremote.port=7991 -Dcom.sun.management.jmxremote.authenticate=false -Djffi.boot.library.path=/home/cavisson/monitors/nf/nfagent/vendor/jruby/lib/jni -Xbootclasspath/a:/home/cavisson/monitors/nf/nfagent/vendor/jruby/lib/jruby.jar -Djruby.home=/home/cavisson/monitors/nf/nfagent/vendor/jruby -Djruby.lib=/home/cavisson/monitors/nf/nfagent/vendor/jruby/lib -Djruby.script=jruby -Djruby.shell=/bin/sh"
CLASSPATH=$CLASSPATH:/home/cavisson/monitors/lib/jruby.jar:.
export CMON_OPTS="$CMON_OPTS -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=7991 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Djava.rmi.server.hostname=0.0.0.0"
TIER=$tier
SERVER=$server
CMON_USER=cavisson
CAV_MON_AGENT_OPTS="-m 300"
