{% extends 'base.html.j2' %}
{% block content %}
  <thead>
    <tr>
      <th>Server Name</th>
      <th>Server IP</th>
      <th>Security Group</th>
      <th>Scan time</th>
      <th>Open Port</th>
      <th>Service</th>
      <th>Service Version</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
      <tr>
        <td>{{ item.server_name }}</td>
        <td>{{ item.server_ip }}</td>
        <td>{{ item.security_group }}</td>
        <td>{{ item.start_time }}</td>
        <td>{{ item.vport }}</td>
        <td>{{ item.vport_service }}</td>
        <td>{{ item.vport_service_version }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock%}
