#---Begin---
# OpenSSL configuration file.
# Establish working directory.
dir                     = .
[ ca ]
default_ca              = CA_default

[ CA_default ]
serial                  = $dir/serial
database                = $dir/root_index.txt
new_certs_dir           = $dir/newcerts
#certificate             = $dir/root.pem
#private_key             = $dir/private/rootkey.pem
default_days            = 3650
default_crl_days        = 365                  # how long before next CRL
default_md              = md5
preserve                = no
email_in_dn             = no
nameopt                 = default_ca
certopt                 = default_ca
policy                  = policy_match
unique_subject  	= no   		# Set to 'no' to allow creation of
                                        # several ctificates with same subject.

[ policy_match ]
countryName             = match
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

####################################################################

[ req ]
default_bits            = 1024                  # Size of keys
default_keyfile         = client_key.pem        # name of generated keys
default_md              = md5                   # message digest algorithm
string_mask             = nombstr               # permitted characters
distinguished_name      = req_distinguished_name
req_extensions          = v3_req                # The extensions to add to a certificate request
x509_extensions         = v3_ca                 # The extensions to add to the self signed cert

[ req_distinguished_name ]
# Variable name           Prompt string
#----------------------   ----------------------------------
0.organizationName      = Organization Name (company)
organizationalUnitName  = Organizational Unit Name (department, division)
emailAddress            = Email Address
emailAddress_max        = 40
localityName            = Locality Name (city, district)
stateOrProvinceName     = State or Province Name (full name)
countryName             = Country Name (2 letter code)
countryName_min         = 2
countryName_max         = 2
commonName              = Common Name (eg, YOUR name for CA; hostname for Certificates)
commonName_max          = 64

# Default values for the above, for consistency and less typing.
# Variable name                   Value
#------------------------------   ------------------------------
0.organizationName_default      = Cavisson Systems, Inc.
emailAddress_default            = info@cavisson.com
localityName_default            = Fremont
stateOrProvinceName_default     = California
countryName_default             = US

[ v3_ca ]
basicConstraints        = CA:true
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always

[ v3_req ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment

#----End----
